<div style="height:300px; background: linear-gradient(rgba(25, 25, 25, 0.71), rgba(0, 0, 0, 0.58)), url('assets/nytm-e168418c3c3aa8f7e0a08df5d2d42a3b741166f1cf3b9ee18a55ba89a4f20bb6.jpg');   background-size: cover; };">

<div class="container" style="padding-top: 80px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 40px; font-family: Ubuntu; font-weight: bold; color: white;">The Inaugural LeanNews NYTM</p>
</div>
</div>


<div style="min-height: 500px;">

  <%= @recent.content.html_safe if @recent %>

</div>

<span style="right: 0; position: absolute;margin-right: 40px;">
<%= link_to("Older News →", @second) if @second %>
</span>

<br>
<br>