<% content_for :title, "New LeanNews Blog" %>

<!-- Header Image & Text -->

<div class="header_image">
	<div class="header_container">
		<p class="header_text"> New Blog Post </p> 
	</div>
</div>

<!-- Blog Edit Form -->

<div class="edit_and_new_forms">
	<%= render 'form' %>
</div>
