<nav class="navbar navbar-default navbar-fixed-top-leannews">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="LeanNews" class="white_orange_logo" src="/assets/LeanNews_Horizontal_White_Orange-be273cd97fe785832052c92bb00a190bf18721fbee095197a1dbd176e15ddaab.png">
      </a>
    </div>
  </div>
</nav>