<% content_for :title, "Job Postings" %>

<!-- Header Image & Text -->

<div class="job_header">
    <div class="job_container">
        <p class="welcome_header_text"> JOBS </p>
    </div>
</div>

<br>
<br>

<!-- Job Posts -->

<div class="container_jobs_table">

<p id="notice"><%= notice %></p>

 <%= render 'jobs' %>

</div>

<!-- Sign Up Box -->

<%= render 'joinform' %>

<!-- Page Navigation -->


<br>
<br>


</div>