<% content_for :title, "New Job Posting" %>

<!-- Header Image & Text -->

<div class="header_image">
	<div class="header_container">
		<p class="header_text"> New Job Posting </p> 
	</div>
</div>

<!-- LeanNews Job Posting Form -->

<div class="edit_and_new_forms">
	<%= render 'form' %>
</div>