<% content_for :title, "Edit User" %>

<!-- Header Image & Text -->

<div class="header_image">
	<div class="header_container">
		<p class="header_text"> Edit User </p> 
	</div>
</div>

<!-- Edit Form -->

<div class="edit_and_new_forms">
	<%= render 'form' %>
</div>