<% content_for :title, "New User Form" %>

<!-- Header Image & Text -->

<div class="header_image">
    <div class="header_container">
        <p class="header_text"> Sign Up </p> 
    </div>
</div>

<!-- New User -->

<div class="edit_and_new_forms">
	<%= render 'form' %>
</div>