<div class="jumbotron" style=" height: 350px;">
 	 <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
    	<h1 style="text-align: center; ">About</h1>
  	</div>
</div>

<div style="background-color: #fff;">
	<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> Why "LeanNews"? </h2>
                <p> You shouldn't have to waste time browsing the web reading opinionated, long, boring news articles. The news should be lean, like Schwarzenegger in his prime. All muscle no fat. With us it is. We give you  enough info to keep on top of startups and tech, in less than 60 seconds. Every day. That's why LeanNews... is called, LeanNews. </p> 
            </div>
        </div>

	</div>
</div>

<div style="background-color: #eee;">
	<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> We Cover Everything From </h2>
                <p> LeanNews covers blah blah </p> 
            </div>
        </div>

	</div>
</div>