<% content_for :title, "About Us" %>

<!-- Header Image & Text -->

<div class="about_header">
    <div class="about_container">
        <p class="welcome_header_text"> ABOUT US </p>
    </div>
</div>

<!-- Why LeanNews? -->

<div class="container">

    <div class="thumbnail col-md-6 about_thumb">  
     <h3 class="about_thumb_text"> Why LeanNews? </h3>
      <img src="assets/icon-4f392fcd7ec4755d992fae900fa35055a889d73daa02032d9923d3b6c1ac8e58.png" class="leannews_about_logo">
       <div class="caption">
         <p class="about_thumb_subtext"> You shouldn't have to waste time browsing the web reading long, opinionated, boring news articles. The news should be lean, like Schwarzenegger in his prime. All muscle no fat. With us it is. </p> 
         <hr> 
         <p class="about_thumb_subtext"> We give you enough info to keep on top of startups and tech, in less than 60 seconds, every day. That's why <em>LeanNews</em> is called... <em>LeanNews</em>. </p> 
       </div>
    </div>

<!-- The Anchormen -->

    <div class="thumbnail col-md-6 about_thumb">  
     <h3 class="about_thumb_text"> The Anchormen </h3>
      <img src="assets/2anchormen-61030cf15efc215a801a0ef8a24403797fd37e6b9a4d3c1f1b16a75d97e8900d.png" class="founders_bitmoji">
       <div class="caption">
         <p class="about_thumb_subtext"> Just two dudes who love startups and tech. We met at a startup event back in 2014 and knew that eventually we wanted to launch something together. One day we were chatting about startups and tech, the next day we were writing about 'em. It basically fell into our laps, and we jumped right in. If you're interested in learning more, <a href="mailto:theanchormen@leannews.com?&amp;subject=LeanNews - Coffee&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" class="fd9827">let's grab coffee.</a> </p> 
         <p class="about_email_us"> - Harrison &amp; Ed </p> 
       </div> 
    </div> 

</div>

<!-- Scrollover Script -->

<script>

    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').fadeIn(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').fadeOut(250); //.fadeOut(205)
        }
    ); 

</script>
