<div class="jumbotron" style=" height: 325px;">
 	 <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
    	<h1 style="text-align: center; ">About</h1>
  	</div>
</div>

<div style="background-color: #fff;">
  <div class="container">
    <div class="col-md-4">
        <h3 class="page-header" style="text-align: center"> Why "LeanNews"? </h3>
            <p> You shouldn't have to waste time browsing the web reading long, opinionated, boring news articles. The news should be lean, like Schwarzenegger in his prime. All muscle no fat. With us it is. We give you enough info to keep on top of startups and tech, in less than 60 seconds. Every day. That's why LeanNews... is called, LeanNews. </p> 
    </div>
    <div class="col-md-4">
        <h3 class="page-header" style="text-align: center"> The Anchormen </h3>
            <p> Just two dudes who love startups and tech. Harrison ..... and Ed .... </p> 
    </div>
    <div class="col-md-4">
        <h3 class="page-header" style="text-align: center"> Find & Follow Us </h3>
            <p> Social Links </p>
    </div>
</div>
</div>

<hr>

	</div>
</div>



