<div style="height: 550px; background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.59)) , url(assets/about-7b58b79edfb0231e6812ba29e16f15315fe4828606dc5df845d12eca47ddfa63.jpg);background-size: cover;">

<div class="container" style="padding-top: 250px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 40px; font-family: Ubuntu; font-weight: bold; color: white;">ABOUT US</p>
</div>
</div>

<div style="background: linear-gradient(rgba(255, 255, 255, 0.568627), rgb(250, 250, 250));">
  <div class="container">
<div class="thumbnail col-md-6" style="height: 250px; padding-top: 25px;">  
    <h3 style="text-align: center; font-variant: small-caps;"> Why LeanNews? </h3>
    <img src="assets/icon-4f392fcd7ec4755d992fae900fa35055a889d73daa02032d9923d3b6c1ac8e58.png" style="max-height: 130px; margin-top: 25px">
<div class="caption" style="display: none;">
            <p style="margin: 10px 20px;"> You shouldn't have to waste time browsing the web reading long, opinionated, boring news articles. The news should be lean, like Schwarzenegger in his prime. All muscle no fat. With us it is. </p> <hr> <p style="margin: 10px 20px;"> We give you enough info to keep on top of startups and tech, in less than 60 seconds, every day. That's why <em>LeanNews</em> is called... <em>LeanNews</em>. </p> 
    </div>
    </div>
<div class="thumbnail col-md-6" style="height: 250px; padding-top: 25px;">  
    <h3 style="text-align: center; font-variant: small-caps;"> The Anchormen </h3>
    <img src="assets/anchor-0754b4eddce6ae6e6ce6b48a1d3030a10348610458c488d90af0d80bab949d9a.png" style="max-height: 150px">
<div class="caption" style="display: none;">
            <p style="margin: 10px 20px;"> Just two dudes who love startups and tech. We met at a startup event back in 2014 and knew that eventually we wanted to launch something together. One day we were chatting about startups and tech, the next day we were writing about 'em. It basically fell into our laps, and we jumped right in. If you're interested in learning more, <a href="mailto:theanchormen@leannews.com?&amp;subject=LeanNews - Coffee&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" style="color: #fd9827; ">let's grab coffee.</a> </p> <p style="margin: 10px 20px; font-style: italic;bottom: 0;right: 0;position: absolute;"> - Harrison &amp; Ed </p> 
    </div> 
    </div> 
   </div>

  </div>
 </div>

<script>

    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').fadeIn(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').fadeOut(250); //.fadeOut(205)
        }
    ); 

</script>
