<div style=" height: 500px; background: linear-gradient(rgba(243, 234, 234, 0.57), rgba(233, 145, 0, 0.45098)); background-size: cover;">
  <div class="container" style="padding-top: 175px; padding-left: 20px; padding-right: 20px">

<p style="text-align: center;font-size: 40px;"> Contact forms are so overated. </p>
	
	<br> 

<p style="text-align: center"> <a href="mailto:theanchormen@leannews.io?&amp;subject=LeanNews Contact Form&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" style="color: #fd9827; font-weight: 500; font-style: oblique;">Email Us</a> Or <a href="https://twitter.com/home?status=%40LeanNews_io:%20" style=" color: #fd9827; font-weight: 500; font-style: oblique;">Tweet Us</a>. We Love To Chat. </p>

  </div>
</div>