
<div style="height: 472px; background: linear-gradient(rgba(255, 228, 169, 0.568627), rgb(255, 255, 255));">
<div class="container" style="padding-top: 80px; padding-left: 20px; padding-right: 20px;">


<p style="text-align: center; font-size: 40px; font-family: inherit; font-weight: bold; font-variant: small-caps;">CONTACT</p>
	
	<br> 
	<br> 
	<br> 

<p style="text-align: center; font-size: 18px;font-family: avenir-heavy;"> Contact Forms Ain't Cool <br> <a href="mailto:theanchormen@leannews.io?&amp;subject=LeanNews Contact Form&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" style="color: #fd9827; font-weight: 600; ">Email Us</a> or <a href="https://twitter.com/home?status=%40LeanNews_io:%20" style=" color: #fd9827; font-weight: 600;">Tweet Us</a> <br> We Love To Chat </p>

  </div>
</div>