<div class="jumbotron" style=" height: 500px;">
  <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">

<p style="text-align: center;font-size: 45px;"> Contact forms are so overated. </p>
	
	<br> 

<p style="text-align: center"> <a href="mailto:theanchormen@leannews.io?&amp;subject=LeanNews Contact Form&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" style="color: #fd9827; font-weight: 500; font-style: oblique;">Email Us</a> Or <a href="https://twitter.com/home?status=%40LeanNews_io:%20" style=" color: #fd9827; font-weight: 500; font-style: oblique;">Tweet Us</a>. We Love To Chat. </p>

  </div>
</div>