<div class="jumbotron" style=" height: 350px;">
  <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
    <h1 style="text-align: center; ">Contact Us</h1>
  </div>
</div>

