<head>
<meta property="og:title" content="Tech & Startup News Summarized in 60 seconds. Everyday." />
<meta property="og:site_name" content="LeanNews"/>
<meta property="og:url" content="https://www.leannews.com" />
<meta property="og:description" content="Keep up to date on trending tech and startup news, stay on top of local tech events, uncover cool new products/companies, and follow funding, exits and acquisitions." />
<meta property="og:image" content="assets/icon-4f392fcd7ec4755d992fae900fa35055a889d73daa02032d9923d3b6c1ac8e58.png"/>
</head>

<div style="height: 550px; background: linear-gradient(rgba(25, 25, 25, 0.57), rgba(0, 0, 0, 0.45098)), url('assets/bg-549fb81889acdd9a4afe4534d731bb142e986df198677eca4fa73e89ed374c45.jpg'); background-size: cover;">

<div style="text-align: center; padding-top: 165px; padding-left: 15px; padding-right: 15px;">

<h2 style="  font-size: 30px; margin-left: 7%; margin-right: 7%;  line-height: 1.2;color: white;  font-family: Ubuntu; padding-bottom:20px">TECH & STARTUP NEWS SUMMARIZED IN 60 SECONDS

<div style="font-size: 14px;">Get a newsletter summarizing startups &amp; tech in your inbox daily.</div>

</h2>


<form class="form-group" id="subscribe" action="/welcome/subscribe" accept-charset="UTF-8" method="post" style="margin: auto; left: 0; right: 0; max-width: 300px;">
   <input name="utf8" type="hidden" value="✓">
   <input type="hidden" name="authenticity_token"> 
   <div class="input-group">
    <input class="form-control" id="email" placeholder="Email Address" type="email" name="email[address]" style="height: 40px; border: 1px solid rgb(255, 167, 22);font-family: Lora; width: 230px;" required>
   <span class="input-group-btn">
    <input class="btn btn-custom btn-md btn-block" type="submit" style="background-color: rgb(255, 167, 22); color: white; height: 40px; font-family: lora;" value="Sign Up">
   </span>
  </div>
</form>

<p class="recent_news" style="margin-top: 60px; color: white; font-size: 14px; font-family: Montserrat; position: relative; left: 0; right: 0; margin-right: auto; margin-left: auto;">Still Need Convincing? <br>
<a class="link" href="/daily" style="
    color: #f09604;"> Check Out The Latest LeanNews</a>
</p>

</div>


</div>


<div style="background-color: #273B4E ;padding-bottom: 25px;">
<div class="container" style="text-align: center;">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="margin-left: 7%; margin-right: 7%; color: white;border-bottom: 1px solid #fff;"> Stay On Top of Trending News </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                 <p style="color: white;"> 
                  <strong style="color: rgb(255, 167, 22);">Uncover</strong> Products
                 </p>
                    <img class="img-responsive" src="assets/1-32ac975854e9ce2a8368f6b2b609e95d45b5567477618d67d31814b8cdd80262.png" alt="" style="max-width:100px">
                <br>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                 <p style="color: white;"> 
                    <strong style="color: rgb(255, 167, 22);">Follow</strong> Exits & Funding
                </p> 
                    <img class="img-responsive" src="assets/money-85b994e393ca0bbfdd9de96a5f088c182e421608a38e44ce1ec7f9ec5b9c9a12.png" alt="" style="max-height:95px">
                <br>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                 <p style="color: white;">  
                    <strong style="color: rgb(255, 167, 22);">Keep Up</strong> With Local Events
                </p>
                    <img class="img-responsive" src="assets/3-3371c724a454533e997372af68e040e141736b78d49e056ec2f6b31d3c15a66e.png" alt="" style="max-width:100px">
                <br>
            </div>
        </div>
     </div>
    </div>


 <%
=begin %>


<div style="background-color: #eee;">
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header" style="text-align: center"> As Seen On </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 portfolio-item" style="padding-top: 1%;">
             <img class="img-responsive" src="assets/Backstories-24a66c575008e4973c55b6701c0d73d43ecc72274999b07044b31076143edcaa.png" alt="Backstories">
                <br>
            </div>
            <div class="col-xs-6 portfolio-item">
             <img class="img-responsive" src="assets/Release_Wire-eb49785b272906892de0ef5819cd548577dd7552ebf528cfab30a81a57b10e25.png" alt="Release Wire">
                <br>
            </div>
        </div>

        <hr style="border-color: #eee;">
       </div>
    </div>





<div style="height: 230px;background-color: white;">
<div class="container" style=" text-align: center; padding-top: 45px;">

<h2 style="padding-bottom: 15px; margin-top: -5px; margin-right: 7%; margin-left: 7%; font-family: Ubuntu;"> Startup &amp; Tech News Summarized in 60 Seconds </h2>


<form class="form-group" id="subscribe" action="/welcome/subscribe" accept-charset="UTF-8" method="post" style="margin: auto; left: 0; right: 0; max-width: 300px;">
   <input name="utf8" type="hidden" value="✓">
   <input type="hidden" name="authenticity_token"> 
   <div class="input-group">
    <input class="form-control" id="email" placeholder="Email Address" type="email" name="email[address]" style="height: 40px; border: 1px solid rgb(255, 167, 22);font-family: Lora; width: 250px;" required>
   <span class="input-group-btn">
    <input class="btn btn-custom btn-md btn-block" type="submit" style="background-color: rgb(255, 167, 22); color: white; height: 40px; font-family: lora;" value="Join">
   </span>
  </div>
</form>

    </div>
</div>

<%
=end %>