<title> LeanNews Tech & Startup News Summarized In 60 Seconds </title>

<!-- Header Image & Text -->

<div class="leannews_header">
    <div class="leannews_header_text">
        <h1 class="leannews_signup_text"> TECH & STARTUP NEWS SUMMARIZED IN 60 SECONDS </h1>
        <h2 class="leannews_signup_subtext"> Get a newsletter summarizing startups &amp; tech delivered to your inbox daily. </h2>

<!-- Signup Form -->

<form class="form-group lean_signup_form" id="subscribe" action="/welcome/subscribe" accept-charset="UTF-8" method="post">
   <input name="utf8" type="hidden" value="✓">
   <input type="hidden" name="authenticity_token"> 
   <div class="input-group">
    <input class="form-control" id="email" placeholder="Email Address" type="email" name="email[address]" style="height: 40px; border: 1px solid rgb(255, 167, 22);font-family: Lora; width: 230px;" required>
   <span class="input-group-btn">
    <input class="btn btn-custom btn-md btn-block" type="submit" style="background-color: rgb(255, 167, 22); color: white; height: 40px; font-family: lora;" value="Sign Up">
   </span>
  </div>
</form>

<!-- Recent LeanNews -->

<p class="recent_news"> Still Need Convincing? </p>
<a class="link recent_news_link" href="/daily"> Check Out The Latest LeanNews</a> </p>

</div>
</div>

<!-- Value Props -->


<div class="value_props">
<div class="container center_text">

<!-- Main Value Prop -->

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header trending_news"> Stay On Top of Trending News </h2>
        </div>
    </div>

<!-- Subvalue Props -->

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                 <p class="white">  
                    <strong class="FFA616"> Uncover </strong> Products
                 </p>
                    <img class="img-responsive local_events_products" src="assets/1-32ac975854e9ce2a8368f6b2b609e95d45b5567477618d67d31814b8cdd80262.png" alt="">
                <br>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                 <p class="white">  
                    <strong class="FFA616"> Follow </strong> Exits & Funding
                </p> 
                    <img class="img-responsive exits_funding" src="assets/money-85b994e393ca0bbfdd9de96a5f088c182e421608a38e44ce1ec7f9ec5b9c9a12.png" alt="">
                <br>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                 <p class="white">  
                    <strong class="FFA616"> Keep Up </strong> With Local Events
                </p>
                    <img class="img-responsive local_events_products" src="assets/3-3371c724a454533e997372af68e040e141736b78d49e056ec2f6b31d3c15a66e.png" alt="">
                <br>
            </div>
        </div>
     </div>
    </div>

    