<nav class="navbar navbar-default navbar-fixed-top" style="background-color: transparent; border: none; position: absolute;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="LeanNews" src="/assets/LeanNews_Horizontal.png" style="max-height: 40px; margin-top: -9px">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/assets/facebook_circle.png" style="max-height: 30px; margin-top: -5px">
      </a>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/assets/twitter_circle.png" style="max-height: 30px; margin-top: -5px">
      </a>
          </ul>
  </div>
</nav>


<div class="jumbotron" style="  z-index: -1; height: 575px;">
    <div class="container">
        <h1>Signup!</h1>
        <p> test </p>
    </div>
</div>


<div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="text-align: center"> Stay On Top Of Trending News </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>

        <hr>

    </div>


