<% content_for :title, "LeanNews Postmortem" %>

<div style="height:300px; background: linear-gradient(rgba(25, 25, 25, 0.71), rgba(0, 0, 0, 0.58)), url('assets/nytm-e168418c3c3aa8f7e0a08df5d2d42a3b741166f1cf3b9ee18a55ba89a4f20bb6.jpg');   background-size: cover;">

<div class="container" style="padding-top: 110px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 35px; font-family: Ubuntu; font-weight: bold; color: white;">LeanNews Postmortem</p>

<p style="text-align: center; font-size: 12px; font-family: Ubuntu; font-weight: bold; color: white;">By <a href="https://twitter.com/HarrisonLouisY" style="color: #ff9901">Harrison Young</a></p>

</div>
</div>

<div>



</div>

<br>
<br>