<div id="container">



<div style="height: 250px; background: linear-gradient(rgba(25, 25, 25, 0.71), rgba(0, 0, 0, 0.58)), url('assets/press2-6940271eecf19b795663113464b2435b61f295a245c519f4c5d77d37c99311ae.jpg');   background-size: cover; };">

<div class="container" style="padding-top: 100px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 40px; font-family: Ubuntu; font-weight: bold; color: white;">PRESS</p>
</div>
</div>


<div style="background: linear-gradient(rgba(255, 255, 255, 0.568627), rgb(250, 250, 250)); height: 200px">
  <div class="container" style="text-align: center">

  <h3 class="page-header"> We'd Love To Work With You! </h3>
  <p> Download Our Press Package &amp; Logo's Here: <a href="https://www.dropbox.com/sh/cstg4ztd0c5gvcu/AADKl73ZyQdskK2To3Nck9nqa?dl=0" style="color: #fd9827; font-weight: 500; font-style: oblique;">DropBox</a> </p>

<p> Reach Out. <a href="mailto:theanchormen@leannews.com?&amp;subject=LeanNews Press Inquiry&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" style="color: #fd9827; font-weight: 500; font-style: oblique;">Email Us</a>. We're Chatty Dudes.</p>

  </div>
</div>
