<% content_for :title, "Press" %>

<!-- Header Image & Text -->

<div class="press_header">
	<div class="contact_press_container">
		<p class="welcome_header_text"> PRESS </p>
	</div>
</div>

<!-- Press Text -->

<div class="contact_press_text">
	<h3 class="page-header"> We'd Love To Work With You! </h3>
		<p> Download Our Press Package &amp; Logo's <a href="https://www.dropbox.com/sh/cstg4ztd0c5gvcu/AADKl73ZyQdskK2To3Nck9nqa?dl=0" class="contact_press_link">Here</a>. </p>
		<p> Reach Out. <a href="mailto:theanchormen@leannews.com?&amp;subject=LeanNews Press Inquiry&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" class="contact_press_link">Email Us</a>. We're Chatty Dudes.</p>
</div>








