<div id="container">



<div style="height: 250px; background: linear-gradient(rgba(25, 25, 25, 0.71), rgba(0, 0, 0, 0.58)), url('assets/press2-6940271eecf19b795663113464b2435b61f295a245c519f4c5d77d37c99311ae.jpg');   background-size: cover; };">

<div class="container" style="padding-top: 100px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 40px; font-family: Ubuntu; font-weight: bold; color: white;">PRESS</p>
</div>
</div>


<div style="background: linear-gradient(rgba(255, 255, 255, 0.568627), rgb(250, 250, 250)); height: 200px">
  <div class="container" style="text-align: center">

  <h3 class="page-header"> We'd Love To Work With You! </h3>
  <p> Download Our Press Package &amp; Logo's Here: <a href="https://www.dropbox.com/sh/cstg4ztd0c5gvcu/AADKl73ZyQdskK2To3Nck9nqa?dl=0" style="color: #fd9827; font-weight: 500; font-style: oblique;">DropBox</a> </p>

<p> Reach Out. <a href="mailto:theanchormen@leannews.com?&amp;subject=LeanNews Press Inquiry&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" style="color: #fd9827; font-weight: 500; font-style: oblique;">Email Us</a>. We're Chatty Dudes.</p>


<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
  <tbody>
    <tr>
      <td>
        <table width="100%" style="max-width:620px" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
           <tbody>
              <tr valign="middle">
                 <td width="49%" style="max-width:305px;font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; padding:8px;" bgcolor="#ff9901" valign="middle" class="share-column-top">
                 <a class="twitter" href="http://twitter.com/share?url=http://www.theskimm.com/2015/09/18/skimm-for-september-18th-4&amp;text=Daily Skimm: Just wanna dance with somebody&nbsp;&amp;count=none" style="color: #fff !important; display: block; font-size: 14px; font-weight: bold; text-align: center; text-decoration: none"><span style="">TWEET THIS</span><img class="header-twitter-img" src="http://cdn.theskimm.com/email/3/retina/header_twitter.png" width="17" height="12" style="-ms-interpolation-mode: bicubic;border: none;clear: both;display: inline-block;float: none;margin-left: 10px;max-width: 100%;outline: none;position: relative;text-decoration: none;left: 5px;height: auto;line-height: 100%;margin: 0;padding: 0;" align="none"></a>
                 </td>
                 <td width="2%" style="max-width:10px;"></td>
                 <td width="49%" style="max-width:305px;font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; padding:8px;" bgcolor="#ff9901" valign="middle" class="share-column-top">
                 <a class="facebook" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://www.theskimm.com/2015/09/18/skimm-for-september-18th-4&amp;[images][0]=http://www.theskimm.com/assets/skimm-fb-logo.png&amp;p[title]=Daily Skimm: Just wanna dance with somebody&nbsp;&amp;p[summary]=Skimm for September 18th" style="color: #fff !important; display: block; font-size: 14px; font-weight: bold; text-align: center; text-decoration: none"><span style="">SHARE THIS</span><img class="header-facebook-img" src="http://cdn.theskimm.com/email/3/retina/header_facebook.png" width="5" height="12" style="-ms-interpolation-mode: bicubic;border: none;clear: both;display: inline-block;float: none;margin-left: 10px;max-width: 100%;outline: none;position: relative;text-decoration: none;left: 5px;height: auto;line-height: 100%;margin: 0;padding: 0;top: -1px;" align="none"></a>
                 </td>
              </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>





  </div>
</div>








