<div style="height: 150px; background-color: rgb(51, 51, 51);">

<div class="container" style="padding-top: 60px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 40px; font-family: Ubuntu; font-weight: bold; color: white;">PRESS</p>
</div>
</div>
	
<div style="background: linear-gradient(rgba(255, 255, 255, 0.568627), rgb(250, 250, 250)); height: 297px">
  <div class="container" style="text-align: center">

  <h3 class="page-header"> We'd Love To Work WIth You! </h3>
  <p> Download Our Press Package & Logo's Here: <a href="https://www.dropbox.com/sh/cstg4ztd0c5gvcu/AADKl73ZyQdskK2To3Nck9nqa?dl=0" style="color: #fd9827; font-weight: 500; font-style: oblique;">DropBox</a> </p>

<p> Reach Out. <a href="mailto:theanchormen@leannews.io?&amp;subject=LeanNews Press Inquiry&amp;body=Hey%20Harrison%20and%20Ed,%0A%0A" style="color: #fd9827; font-weight: 500; font-style: oblique;">Email Us</a>. We're Chatty Dudes.</p>

  </div>
</div>