<div style="height: 500px; background: linear-gradient(rgba(44, 44, 44, 0.71), rgba(31, 31, 31, 0.58)), url('assets/bg.jpg');   background-size: cover; };">
<div class="container" style="padding-top: 100px; text-align: center;color: white;">
   
    <p style="font-size: 35px; font-variant: small-caps;">Welcome LeanReader!</p>
    
    <p style="font-size: 18px;margin-left: 5%; margin-right: 5%;"> And thanks so much for making this community that much better. <br> Expect an email from us shortly (check your inbox and spam). </p>

    <br>

    <span style="font-size: 16px; font-weight: 300;"> Now You're In The Know. <br> Show The World. <br> Share LeanNews. <br> <br> <span>
		<a class="share_text" href="https://www.facebook.com/sharer/sharer.php?u=leannews.io">Facebook</a> <br>
		<a class="share_text" href="https://twitter.com/home?status=Read%20%40LeanNews_io%20to%20stay%20on%20top%20of%20the%20%23startup%20and%20%23tech%20world.%20Check%20it%20out.%20%23entrepreneur%20%23founder%20http://www.leannews.io">Twitter</a> <br>
		<a class="share_text" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://leannews.io&amp;title=Trending%20Startup%20%26%20Tech%20News&amp;summary=Want%20to%20know%20what's%20going%20on%20in%20startups%20and%20tech,%20in%20less%20than%20one%20minute%20a%20day?%20Then%20read%20LeanNews.%20They%20summarize%20trending%20news%20daily.%20Read%20less.%20Know%20more.&amp;source=">LinkedIn</a>

  </span></span></div>
</div>