<title> Welcome To LeanNews! </title>

<!-- Header Image & Text -->

<div class="subscribe_header">
	<div class="subscribe_container">
    	<p class="subscribe_text"> Welcome LeanReader! </p>
    	<p class="subscribe_subtext"> Thanks so much for making this community that much better. <br> Expect an email from us shortly. Please check your promotion/spam inbox. </p>
	</div>
</div>