<div style="background-color: #eee; height: 350px;">
<div class="container" style="position: relative; top: 50%; transform: translateY(-50%); text-align: center">
    <h1 style="text-align: center; ">You Did It! #Winning</h1>
  </div>
</div>