<div style="height: 150px; background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.59)) , url(assets/about-7b58b79edfb0231e6812ba29e16f15315fe4828606dc5df845d12eca47ddfa63.jpg);background-size: cover;">

<div class="container" style="padding-top: 50px; padding-left: 20px; padding-right: 20px;">

<p style="text-align: center; font-size: 30px; font-family: Ubuntu; font-weight: bold; color: white;">Edit LeanEvent Post </p> 

</div> 
</div>

<div class="edit_and_new_forms">
	<%= render 'form' %>
</div>