<div class="jumbotron" style=" height: 350px;">
  <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
    <h2 style="text-align: center; ">Thanks For The Message</h2>
    <p style="text-align: center;"> We'll get back to you asap! <br> Harrison & Ed</p>

  </div>
</div>