<div class="daily_signup_form">
  <h2 class="daily_signup_prompt"> 
    Want This In Your Inbox Daily? 
  </h2>


<form class="form-group-daily" id="subscribe" action="/welcome/subscribe" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="qtyhqjj7amlOtHD6+i9xpDmNuXEEzPJr+QDIxuncHZZl8DCIhRNUVT9EWlAfpanw4AWr+GhE8POY4POmwvy5EQ=="> 
      <div class="input-group">
        <input class="form-control" id="email" placeholder="Email Address" type="email" name="email[address]" style="height: 40px; border: 1px solid rgb(255, 167, 22);font-family: Lora; width: 250px;" required="">
          <span class="input-group-btn">
    <input class="btn btn-custom btn-md btn-block btn-daily-signup" type="submit" value="Join">
   </span>
  </div>
</form>


</div>