<% content_for :title, "Edit LeanNews Newsletter" %>

<!-- Header Image & Text -->

<div class="header_image">
	<div class="header_container">
		<p class="header_text"> Edit LeanDaily </p> 
	</div>
</div>

<!-- LeanNews Daily Newsletter Form -->

<div class="edit_and_new_forms">
	<%= render 'form' %>
</div>