<% content_for :title, "Recent News" %>

<!-- Homepage Link -->

<div class="backlink">
  <a href="/">
    <i class="glyphicon glyphicon-chevron-left backlink_glyph"> </i> Back to Sign Up
  </a>
</div>

<!-- Daily Post -->

<div class="post_body">
  <span id="notice"><%= notice %></span>
   <%= @recent.content.html_safe if @recent %>

<!-- Sign Up Box -->

<%= render 'dailysignupform' %>

<!-- Daily Navigation -->

<span class="old_news">
<%= link_to("Older News →", @second) if @second %>
</span>


<br>
<br>


</div>