    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="https://www.facebook.com/theleannews/?ref=a"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/theleannews/?ref=a"><i class="fa fa-twitter"></i></a>
        <a href="https://angel.co/leannews/?ref=a"><i class="fa fa-angellist"></i></a>
      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a href="/dailies">Recent News</a>
          路
          <a href="/about">About</a>
          路
          <a href="/press">Press</a>
          路
          <a href="/contact">Contact</a>
          <% if current_user_admin? %>
          路
          <a href="/admin">Admin</a>
          <% end %>
        </p>

        <p>LeanNews &copy; 2015</p>
      </div>

    </footer>