    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="https://www.facebook.com/leannewsio/?ref=a"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/LeanNews_io/?ref=a"><i class="fa fa-twitter"></i></a>
        <a href="https://angel.co/leannews/?ref=a"><i class="fa fa-angellist"></i></a>
      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a href="http://leannews.io/news">Recent News</a>
          ·
          <a href="/about">About</a>
          ·
          <a href="/press">Press</a>
          ·
          <a href="/contact">Contact</a>
        </p>

        <p>LeanNews &copy; 2015</p>
      </div>

    </footer>