<nav class="navbar navbar-default navbar-fixed-top" style="background-color: transparent; border: none; position: absolute; style="z-index: 1;"">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="LeanNews" src="/assets/LeanNews_Horizontal.png" style="max-height: 40px; margin-top: -9px">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand" href="https://www.facebook.com/leannewsio/?ref=a">
        <img alt="Brand" src="/assets/facebook_circle.png" style="max-height: 30px; margin-top: -5px">
      </a>
      <a class="navbar-brand" href="https://twitter.com/LeanNews_io/?ref=a">
        <img alt="Brand" src="/assets/twitter_circle.png" style="max-height: 30px; margin-top: -5px">
      </a>
          </ul>
  </div>
</nav>