<nav class="navbar navbar-default navbar-fixed-top" style="background-color: transparent; border: none; position: absolute; style="z-index: 1;"">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="LeanNews" src="/assets/LeanNews_Horizontal_White_Orange-be273cd97fe785832052c92bb00a190bf18721fbee095197a1dbd176e15ddaab.png" style="max-height: 40px; margin-top: -9px">
      </a>
    </div>

 <%
=begin %>

    <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand" href="https://www.facebook.com/leannewsio/?ref=a">
        <img alt="Brand" src="/assets/facebook_circle-6ee2d436acee81db6aa57492bfb22a8ccfa293e6993287b0f8f2e763cc8166cc.png" style="max-height: 30px; margin-top: -5px">
      </a>
      <a class="navbar-brand" href="https://twitter.com/LeanNews_io/?ref=a">
        <img alt="Brand" src="/assets/twitter_circle-74e10f07cc5af6d189771fee9cc0403f8d07a2686138d96048fd8ea2aa1cd134.png" style="max-height: 30px; margin-top: -5px">
      </a>
          </ul>

<%
=end %>

  </div>
</nav>